*{
    font-family: 'Roboto', sans-serif;

}
body{
    background-color: #76b852;
}
.centrado{
    margin:auto;
    width: 50%;
    text-align:center;
    padding: 10px;
    box-shadow: black;
    /*padding: 60px;
    text-align: center;
    padding-top: 50px;*/
}
.estiloDiv{

    width:360px;
    /*height: 200px;*/
    box-sizing: border-box;
    background-color: white;
    display: inline-block;
    text-align: center;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, .2)
    
    
}
.formulario{
    width: 255px;
    display: inline-block;
    padding: 45px 45px 45px 45px;
   /*height: 212px;*/
}
.inputs{
    display: inline-block;
    box-sizing: border-box;
    height: 46px;
    width: 255px;
    padding-left: 15px;
    background-color: #f2f2f2;
    border: none;
   
}
.input2{
    margin-top:15px;
    margin-bottom:15px;
}
.boton{
    background-color: #4CAF50;
    color: white;

}